/* CalltoActionImages.css */

.image-container {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
  }
  